{% load static %}

<div class="flex items-center space-x-3">
    <!-- Dummy Notification Button -->
    {% component "button" text="🔔" variant="secondary" %}{% endcomponent %}
    {% if user.is_authenticated %}
        {% component "coins" user=user currency_type="cardio_coins" %}{% endcomponent %}
        {% component "coins" user=user currency_type="gym_gems" %}{% endcomponent %}
    {% else %}
        {% component "coins" coins=0 %}{% endcomponent %}
    {% endif %}
    <!-- Settings Icon -->
    {% component "settings_icon" %}{% endcomponent %}
</div>